<%- include('partials/head') %>
<%- include('partials/header') %>

<main>
  <h3>SUPPP</h3>
  <h2>
    Search to find results
  </h2>
</main>

<%- include('partials/footer') %>
<%- include('partials/foot') %>
