<%- include(`${basePartialsPath}/head`) %>
<%- include(`${basePartialsPath}/header`) %>

<main>
  <h2>
    Detail view
  </h2>
</main>

<%- include(`${basePartialsPath}/footer`) %>
<%- include(`${basePartialsPath}/foot`) %>
